# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
data_purchases = data.groupby(['CustomerID','ProductName'],as_index=False).agg({'Quantity': 'sum'})

In [5]:
data_purchases.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
pivot_purchases = pd.pivot(data_purchases, index='ProductName', columns='CustomerID', values='Quantity').fillna(0)

In [7]:
pivot_purchases

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [8]:
t_pivot_purchases = pivot_purchases.transpose()

In [9]:
distances = squareform(pdist(t_pivot_purchases, metric='euclidean'))

In [10]:
distances_matrix = pd.DataFrame(distances, index=t_pivot_purchases.index, columns=t_pivot_purchases.index)

In [11]:
distances_matrix.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.000000,11.916375,10.488088,11.224972,11.401754,11.090537,12.409674,11.045361,11.269428,11.489125,...,206.871941,213.180675,225.656819,198.232187,230.913404,220.501701,217.188858,228.628520,239.000000,229.773802
200,11.916375,0.000000,11.747340,12.083046,12.569805,12.288206,12.165525,12.083046,11.874342,12.000000,...,206.310446,212.635839,224.697575,197.139544,230.952376,220.202180,215.728997,228.010965,239.037654,229.704158
264,10.488088,11.747340,0.000000,11.489125,11.224972,11.445523,12.000000,11.401754,11.180340,11.747340,...,206.387984,212.946003,225.435135,197.600607,230.371439,219.136943,216.612557,228.081126,238.266657,229.773802
356,11.224972,12.083046,11.489125,0.000000,12.083046,11.789826,12.328828,11.135529,11.958261,12.165525,...,206.649462,213.082144,225.452878,197.494304,231.038958,219.952268,217.437347,228.098663,238.493186,229.464594
412,11.401754,12.569805,11.224972,12.083046,0.000000,11.704700,12.328828,11.135529,11.789826,11.747340,...,206.900942,211.679002,225.572605,197.630969,230.614397,219.733930,217.446545,227.997807,238.396728,228.927936

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [69]:
similarities = pd.DataFrame(distances_matrix[33].sort_values(ascending=False)[1:6])

In [70]:
similarities.head()

                    33
CustomerID
97324       247.024290
95017       244.276483
92492       241.642298
91777       240.547293
92525       239.146399

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [15]:
data_purchases = data_purchases.set_index("CustomerID")

In [16]:
data_purchases.head()

                              ProductName  Quantity
CustomerID
33                       Apricots - Dried         1
33                      Assorted Desserts         1
33                Bandage - Flexible Neon         1
33          Bar Mix - Pina Colada, 355 Ml         1
33                 Beans - Kidney, Canned         1

In [17]:
similarities_33 = data_purchases.loc[similarities.index]

In [18]:
similarities_33

                                 ProductName  Quantity
CustomerID
97324                          Bagel - Plain        25
97324                Bandage - Flexible Neon        50
97324                               Bay Leaf        25
97324                    Beef - Inside Round        25
97324                    Beef - Striploin Aa        25
...                                      ...       ...
92525            Water - Green Tea Refresher        24
92525           Whmis - Spray Bottle Trigger        24
92525             Wine - Chablis 2003 Champs        72
92525               Wine - White Cab Sauv.on        48
92525       Wine - White, Schroder And Schyl        24

[373 rows x 2 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [35]:
productname_df = similarities_33.groupby('ProductName').agg({'Quantity': 'sum'}).sort_values('Quantity', ascending=False)

In [36]:
productname_df.head()

                               Quantity
ProductName
Turnip - White, Organic             146
Beef - Tenderlion, Center Cut       122
Whmis - Spray Bottle Trigger         98
Pastry - Butterscotch Baked          98
Clam Nectar                          98

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [48]:
merge_df = pivot_purchases.merge(productname_df, how='left', on='ProductName')

In [49]:
merge_df.head()

,33,200,264,356,412,464,477,639,649,669,...,97753,97769,97793,97900,97928,98069,98159,98185,98200,Quantity
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,49.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0,NaN
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [51]:
merge_df = merge_df[merge_df[33]==0].sort_values('Quantity',ascending=False)

In [64]:
merge_df = merge_df.reset_index()

In [67]:
list(merge_df.loc[0:4]['ProductName'])

['Turnip - White, Organic',
 'Beef - Tenderlion, Center Cut',
 'Pastry - Butterscotch Baked',
 'Clam Nectar',
 'Whmis - Spray Bottle Trigger']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [57]:
recomendations = {}
customers = list(data['CustomerID'].unique())

In [76]:
for customer in customers:
    similarities = pd.DataFrame(distances_matrix[customer].sort_values(ascending=False)[1:6])
    similarities_customer = data_purchases.loc[similarities.index]
    productname_df = similarities_customer.groupby('ProductName').agg({'Quantity': 'sum'}).sort_values('Quantity', ascending=False)
    merge_df = pivot_purchases.merge(productname_df, how='left', on='ProductName')
    merge_df = merge_df[merge_df[customer]==0].sort_values('Quantity',ascending=False)
    merge_df = merge_df.reset_index()
    recomended_products = list(merge_df.loc[0:4]['ProductName'])
    recomendations.update({customer: recomended_products})

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [77]:
recomendations_df = pd.DataFrame(recomendations)

In [78]:
recomendations_df.head()

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,Bagel - Plain,"Turnip - White, Organic","Turnip - White, Organic","Turnip - White, Organic",Tahini Paste,Tahini Paste,"Beef - Tenderlion, Center Cut",Bagel - Plain,"Turnip - White, Organic","Beef - Tenderlion, Center Cut",...,Bandage - Flexible Neon,"Turnip - White, Organic",Crab - Imitation Flakes,Squid U5 - Thailand,Spice - Peppercorn Melange,"Pasta - Penne, Rigate, Dry",Tahini Paste,Whmis - Spray Bottle Trigger,"Coconut - Shredded, Sweet","Turnip - White, Organic"
1,Olive - Spread Tapenade,Whmis - Spray Bottle Trigger,Pastry - Butterscotch Baked,"Beef - Tenderlion, Center Cut",Bandage - Flexible Neon,Vanilla Beans,"Turnip - White, Organic",Pork - Hock And Feet Attached,Whmis - Spray Bottle Trigger,"Turnip - White, Organic",...,Onion Powder,Bread - Hot Dog Buns,"Tart Shells - Sweet, 4",Onion Powder,Bandage - Flexible Neon,Bagel - Plain,"Coconut - Shredded, Sweet",Mussels - Cultivated,Bandage - Flexible Neon,"Beef - Tenderlion, Center Cut"
2,"Pasta - Penne, Rigate, Dry","Coconut - Shredded, Sweet",Clam Nectar,Whmis - Spray Bottle Trigger,Dried Figs,Ecolab - Lime - A - Way 4/4 L,Clam Nectar,Soup Campbells - Italian Wedding,Pastry - Raisin Muffin - Mini,Cream Of Tartar,...,"Turnip - White, Organic",Whmis - Spray Bottle Trigger,Cake - Box Window 10x10x2.5,Soupfoamcont12oz 112con,"Wine - White, Schroder And Schyl","Garlic - Primerba, Paste",Bread Crumbs - Panko,"Turnip - White, Organic",Spice - Peppercorn Melange,Whmis - Spray Bottle Trigger
3,Browning Caramel Glace,Tahini Paste,Milk - 2%,Pastry - Butterscotch Baked,Onion Powder,Blackberries,Squid U5 - Thailand,Squid U5 - Thailand,Clam Nectar,Ecolab - Lime - A - Way 4/4 L,...,"Wine - White, Schroder And Schyl",Pastry - Raisin Muffin - Mini,Olives - Kalamata,"Wine - White, Schroder And Schyl",Rum - Mount Gay Eclipes,Squid U5 - Thailand,Coffee - Irish Cream,Tahini Paste,Onions - Vidalia,Bandage - Flexible Neon
4,"Turnip - White, Organic",V8 - Berry Blend,Soup Campbells - Italian Wedding,Muffin Chocolate Individual Wrap,Vol Au Vents,Muffin - Carrot Individual Wrap,"Bread - Roll, Soft White Round",Olive - Spread Tapenade,Pastry - Butterscotch Baked,Shrimp - 31/40,...,Soupfoamcont12oz 112con,Bagel - Plain,Beef - Ground Medium,Nantucket - Pomegranate Pear,Milk - 2%,"Turnip - White, Organic",Clam Nectar,Milk - 2%,Blackberries,Clam Nectar

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [79]:
distances = squareform(pdist(t_pivot_purchases, metric='cityblock'))
distances_matrix = pd.DataFrame(distances, index=t_pivot_purchases.index, columns=t_pivot_purchases.index)
recomendations = {}
customers = list(data['CustomerID'].unique())
for customer in customers:
    similarities = pd.DataFrame(distances_matrix[customer].sort_values(ascending=False)[1:6])
    similarities_customer = data_purchases.loc[similarities.index]
    productname_df = similarities_customer.groupby('ProductName').agg({'Quantity': 'sum'}).sort_values('Quantity', ascending=False)
    merge_df = pivot_purchases.merge(productname_df, how='left', on='ProductName')
    merge_df = merge_df[merge_df[customer]==0].sort_values('Quantity',ascending=False)
    merge_df = merge_df.reset_index()
    recomended_products = list(merge_df.loc[0:4]['ProductName'])
    recomendations.update({customer: recomended_products})

recomendations_df = pd.DataFrame(recomendations)
recomendations_df.head()

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,Bagel - Plain,Cream Of Tartar,"Turnip - White, Organic",Cream Of Tartar,Onion Powder,Tahini Paste,Cream Of Tartar,"Turnip - White, Organic",Cream Of Tartar,Cream Of Tartar,...,"Pasta - Penne, Rigate, Dry",Cream Of Tartar,Spinach - Baby,Squid U5 - Thailand,Olives - Kalamata,Shrimp - 31/40,Cream Of Tartar,Chicken - Soup Base,Bandage - Flexible Neon,Cream Of Tartar
1,Cream Of Tartar,"Pasta - Penne, Rigate, Dry","Wine - White, Schroder And Schyl",Chicken - Soup Base,"Rosemary - Primerba, Paste",Crab - Imitation Flakes,Durian Fruit,Bagel - Plain,Durian Fruit,"Pasta - Penne, Rigate, Dry",...,Veal - Inside,"Pasta - Penne, Rigate, Dry",Spice - Peppercorn Melange,Spinach - Baby,Cup - Translucent 7 Oz Clear,"Cheese - Brie,danish",Shrimp - 31/40,Milk - 2%,"Turnip - White, Organic","Pasta - Penne, Rigate, Dry"
2,"Garlic - Primerba, Paste",Cheese - Cheddarsliced,Scallops - 10/20,Tahini Paste,Spinach - Baby,Sea Bass - Whole,Scallops - Live In Shell,Juice - Orange,Bagel - Plain,Cheese - Cheddarsliced,...,Tea - Herbal Sweet Dreams,Bagel - Plain,Olives - Kalamata,"Turnip - White, Organic",Chicken - Soup Base,Cheese - Cheddarsliced,Cup - Translucent 7 Oz Clear,Whmis - Spray Bottle Trigger,Wine - White Cab Sauv.on,Scallops - Live In Shell
3,Juice - Orange,"Garlic - Primerba, Paste","Yogurt - Blueberry, 175 Gr","Cheese - Brie,danish",Ocean Spray - Kiwi Strawberry,"Cheese - Brie,danish","Pasta - Penne, Rigate, Dry",Cinnamon Buns Sticky,Scallops - Live In Shell,"Garlic - Primerba, Paste",...,Scallops - 10/20,Durian Fruit,Table Cloth 120 Round White,Skirt - 29 Foot,"Wine - White, Schroder And Schyl",Durian Fruit,Bandage - Flexible Neon,Beef - Ground Medium,Shrimp - 31/40,Durian Fruit
4,Olive - Spread Tapenade,V8 - Berry Blend,Cheese - Camembert,Shrimp - 31/40,Yogurt - French Vanilla,Muffin - Carrot Individual Wrap,Bagel - Plain,Soupfoamcont12oz 112con,Juice - Orange,V8 - Berry Blend,...,Durian Fruit,Scallops - Live In Shell,Anchovy Paste - 56 G Tube,Onion Powder,Bagel - Plain,Cup - Translucent 7 Oz Clear,Juice - Orange,Cheese - Cheddarsliced,Onion Powder,"Garlic - Primerba, Paste"