# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68584 entries, 0 to 68583
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   68584 non-null  int64
 1   FirstName    68584 non-null  object
 2   LastName     68584 non-null  object
 3   SalesID      68584 non-null  int64
 4   ProductID    68584 non-null  int64
 5   ProductName  68584 non-null  object
 6   Quantity     68584 non-null  int64
dtypes: int64(4), object(3)
memory usage: 3.7+ MB

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
step_1 = pd.DataFrame(data.groupby(['CustomerID', 'ProductName'], as_index=False).agg({'Quantity':'sum'}).reset_index())

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [23]:
step_12 = pd.pivot_table(step_1, 
                       values='Quantity', 
                       columns='CustomerID', 
                       index='ProductName',
                       fill_value=0)
step_2 = step_12.transpose()

In [9]:
step_2

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
200,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
264,0,0,0,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
412,0,0,0,0,1,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0,0,0,25,0,50,0,25,0,0,...,0,25,25,0,0,0,0,0,0,0
98069,0,0,0,25,0,25,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
98159,0,0,0,0,0,0,0,0,0,0,...,0,50,0,0,0,0,25,0,0,0
98185,0,0,25,25,0,25,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
98200,0,0,0,0,0,25,25,0,0,25,...,0,0,0,0,0,0,0,0,25,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [24]:
dist_eucl = 1/(1 + squareform(pdist(step_2, metric='euclidean')))

In [25]:
step_3 = pd.DataFrame(dist_eucl, 
                      index=step_2.index,
                      columns=step_2.index)
step_3

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [35]:
step_14 = step_3.loc[33].sort_values(ascending=False)[1:7]

In [36]:
step_4 = list(step_14.index)

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [28]:
step_5 = step_1[step_1.CustomerID.isin(step_4)].sort_values('Quantity', ascending=False)

In [29]:
step_5.head()

      index  CustomerID                    ProductName  Quantity
1875   1875        2503              Butter - Unsalted         2
1888   1888        2503          Knife Plastic - White         2
157     157         264                    Guinea Fowl         2
2813   2813        3317          Pepper - Black, Whole         2
2783   2783        3305  Wine - Ej Gallo Sierra Valley         2

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [30]:
step_6 = step_5.groupby(['ProductName'], as_index=True).agg({'Quantity':'sum'}).sort_values(by='Quantity', ascending=False)
step_6

                               Quantity
ProductName
Soup - Campbells Bean Medley          4
Wine - Blue Nun Qualitatswein         4
Pepper - Black, Whole                 3
Knife Plastic - White                 3
Towels - Paper / Kraft                3
...                                 ...
Jolt Cola - Electric Blue             1
Kellogs Special K Cereal              1
Kiwi                                  1
Langers - Ruby Red Grapfruit          1
Yogurt - French Vanilla               1

[239 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [31]:
step_7 = pd.merge(left=step_6, right=step_12, on='ProductName')

In [32]:
data_merge = (step_7[step_7[33]==0].sort_values(by='Quantity', ascending=False)[1:6])
data_merge1 = data_merge.index

Index(['Wine - Blue Nun Qualitatswein', 'Knife Plastic - White',
       'Butter - Unsalted', 'Wine - Chardonnay South',
       'Wine - Ej Gallo Sierra Valley'],
      dtype='object', name='ProductName')

In [ ]:
data_33 = data_merge[33].sort_values(ascending=True)[1:6]
data_33

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [43]:
customer_recommend = {}
customer_list = [2503,  264, 3317, 3305, 1072, 3535]

for cid in customer_list:
    
    step_4 = step_3.loc[cid].sort_values(ascending=False)[1:7]
    step_4 = list(step_14.index)
    step_5 = step_1[step_1.CustomerID.isin(step_4)].sort_values('Quantity', ascending=False)
    step_6 = step_5.groupby(['ProductName'], as_index=True).agg({'Quantity':'sum'}).sort_values(by='Quantity', ascending=False)
    step_7 = pd.merge(left=step_6, right=step_12, on='ProductName')
    data_merge = (step_7[step_7[cid]==0].sort_values(by='Quantity', ascending=False)[1:6])
    data_merge1 = data_merge.index
    
    data_merge4 = data_merge1.tolist()
    customer_recommend[cid] = data_merge4

customer_recommend

{2503: ['Wine - Blue Nun Qualitatswein',
  'Pepper - Black, Whole',
  'Towels - Paper / Kraft',
  'Wine - Chardonnay South',
  'Wine - Ej Gallo Sierra Valley'],
 264: ['Butter - Unsalted',
  'Wine - Ej Gallo Sierra Valley',
  'Beef Wellington',
  'Knife Plastic - White',
  'Water, Tap'],
 3317: ['Towels - Paper / Kraft',
  'Wine - Chardonnay South',
  'Beef Wellington',
  'Knife Plastic - White',
  'Bar - Granola Trail Mix Fruit Nut'],
 3305: ['Knife Plastic - White',
  'Butter - Unsalted',
  'Wine - Chardonnay South',
  'Pepper - Black, Whole',
  'Beef - Montreal Smoked Brisket'],
 1072: ['Butter - Unsalted',
  'Wine - Ej Gallo Sierra Valley',
  'Towels - Paper / Kraft',
  'Wine - Crozes Hermitage E.',
  'Scallops 60/80 Iqf'],
 3535: ['Wine - Chardonnay South',
  'Wine - Ej Gallo Sierra Valley',
  'Butter - Unsalted',
  'Cheese - Brie, Triple Creme',
  'Pork - Inside']}

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [40]:
new = pd.DataFrame.from_dict(customer_recommend)
new

,2503,264,3317,3305,1072,3535
0,Wine - Blue Nun Qualitatswein,Butter - Unsalted,Towels - Paper / Kraft,Knife Plastic - White,Butter - Unsalted,Wine - Chardonnay South
1,"Pepper - Black, Whole",Wine - Ej Gallo Sierra Valley,Wine - Chardonnay South,Butter - Unsalted,Wine - Ej Gallo Sierra Valley,Wine - Ej Gallo Sierra Valley
2,Towels - Paper / Kraft,Beef Wellington,Beef Wellington,Wine - Chardonnay South,Towels - Paper / Kraft,Butter - Unsalted
3,Wine - Chardonnay South,Knife Plastic - White,Knife Plastic - White,"Pepper - Black, Whole",Wine - Crozes Hermitage E.,"Cheese - Brie, Triple Creme"
4,Wine - Ej Gallo Sierra Valley,"Water, Tap",Bar - Granola Trail Mix Fruit Nut,Beef - Montreal Smoked Brisket,Scallops 60/80 Iqf,Pork - Inside

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [42]:
pivot2= step_12.transpose()
pdist(pivot2, metric='cityblock')
squareform(pdist(pivot2, metric='cityblock'))
(1 + squareform(pdist(pivot2, metric='cityblock')))
dist_eucl = 1 / (1 + squareform(pdist(pivot2, metric='cityblock')))
dist_eucl
distances = pd.DataFrame(dist_eucl, index=pivot2.index, 
                         columns=pivot2.index)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.008000,0.009901,0.009174,0.008403,0.008929,0.007752,0.008850,0.008621,0.008696,...,0.000564,0.000596,0.000556,0.000674,0.000542,0.000569,0.000556,0.000554,0.000476,0.000534
200,0.008000,1.000000,0.008130,0.007874,0.006993,0.007576,0.007752,0.007752,0.008065,0.008130,...,0.000563,0.000593,0.000557,0.000675,0.000538,0.000567,0.000558,0.000553,0.000473,0.000531
264,0.009901,0.008130,1.000000,0.008547,0.008850,0.008475,0.007874,0.008403,0.008621,0.008264,...,0.000566,0.000596,0.000556,0.000678,0.000543,0.000576,0.000559,0.000557,0.000479,0.000533
356,0.009174,0.007874,0.008547,1.000000,0.008000,0.008197,0.007752,0.009174,0.008065,0.008130,...,0.000564,0.000595,0.000556,0.000676,0.000540,0.000571,0.000553,0.000556,0.000478,0.000534
412,0.008403,0.006993,0.008850,0.008000,1.000000,0.008065,0.007752,0.008850,0.007937,0.008264,...,0.000561,0.000599,0.000553,0.000674,0.000540,0.000570,0.000552,0.000555,0.000477,0.000536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.000569,0.000567,0.000576,0.000571,0.000570,0.000573,0.000571,0.000573,0.000572,0.000571,...,0.000336,0.000360,0.000322,0.000381,0.000357,1.000000,0.000364,0.000351,0.000298,0.000301
98069,0.000556,0.000558,0.000559,0.000553,0.000552,0.000554,0.000553,0.000556,0.000556,0.000556,...,0.000325,0.000336,0.000322,0.000342,0.000351,0.000364,1.000000,0.000351,0.000308,0.000330
98159,0.000554,0.000553,0.000557,0.000556,0.000555,0.000556,0.000554,0.000557,0.000558,0.000556,...,0.000330,0.000367,0.000333,0.000348,0.000328,0.000351,0.000351,1.000000,0.000317,0.000315
98185,0.000476,0.000473,0.000479,0.000478,0.000477,0.000476,0.000474,0.000479,0.000478,0.000474,...,0.000292,0.000284,0.000308,0.000330,0.000294,0.000298,0.000308,0.000317,1.000000,0.000315
98200,0.000534,0.000531,0.000533,0.000534,0.000536,0.000536,0.000532,0.000535,0.000532,0.000536,...,0.000317,0.000322,0.000330,0.000339,0.000325,0.000301,0.000330,0.000315,0.000315,1.000000