# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
data1 = data.groupby(['CustomerID', 'ProductName'], as_index=False).agg({'Quantity':'sum'})
data1

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
pivot = pd.pivot_table(data1, values='Quantity', columns='CustomerID', index='ProductName',
                      fill_value=0)
pivot

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
pivot2= pivot.transpose()
pdist(pivot2, metric='euclidean')
squareform(pdist(pivot2, metric='euclidean'))
(1 + squareform(pdist(pivot2, metric='euclidean')))
dist_eucl = 1 / (1 + squareform(pdist(pivot2, metric='euclidean')))
dist_eucl
distances = pd.DataFrame(dist_eucl, index=pivot2.index, 
                         columns=pivot2.index)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [7]:
similarities = distances[33].sort_values(ascending=False)[1:7]
simil = list(similarities.index)

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [8]:
data2 = data1[data1.CustomerID.isin(simil)].sort_values(by='Quantity', ascending=False)
data2

      CustomerID                      ProductName  Quantity
1875        2503                Butter - Unsalted         2
1888        2503            Knife Plastic - White         2
157          264                      Guinea Fowl         2
2813        3317            Pepper - Black, Whole         2
2783        3305    Wine - Ej Gallo Sierra Valley         2
...          ...                              ...       ...
1127        1072  Wine - Red, Harrow Estates, Cab         1
1126        1072       Wine - Gato Negro Cabernet         1
1124        1072    Wine - Blue Nun Qualitatswein         1
1123        1072     Whmis - Spray Bottle Trigger         1
3007        3535                    Yoghurt Tubes         1

[318 rows x 3 columns]

In [9]:
data2['CustomerID'].unique()

array([2503,  264, 3317, 3305, 1072, 3535], dtype=int64)

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [10]:
data3 = data2.groupby(['ProductName'], as_index=True).agg({'Quantity':'sum'}).sort_values(by='Quantity', ascending=False)
data3

                               Quantity
ProductName
Soup - Campbells Bean Medley          4
Wine - Blue Nun Qualitatswein         4
Pepper - Black, Whole                 3
Knife Plastic - White                 3
Towels - Paper / Kraft                3
...                                 ...
Jolt Cola - Electric Blue             1
Kellogs Special K Cereal              1
Kiwi                                  1
Langers - Ruby Red Grapfruit          1
Yogurt - French Vanilla               1

[239 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [11]:
data_merge = pd.merge(left=data3, right=pivot, on='ProductName')
data_merge2 = data_merge[data_merge[33] == 0].sort_values(by='Quantity', ascending=False)[1:6]
data_merge3 = data_merge2.index
data_merge3

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [22]:
customer_recommend = {}
customer_list = [2503,  264, 3317, 3305, 1072, 3535]  

for cid in customer_list:
    similarities = distances[cid].sort_values(ascending=False)[1:7]
    simil = list(similarities.index)
    data2 = data1[data1.CustomerID.isin(simil)].sort_values(by='Quantity', ascending=False)
    data3 = data2.groupby(['ProductName'], as_index=True).agg({'Quantity':'sum'}).sort_values(by='Quantity', ascending=False)
    data_merge = pd.merge(left=data3, right=pivot, on='ProductName')
    data_merge2 = data_merge[data_merge[cid] == 0].sort_values(by='Quantity', ascending=False)[1:6]
    #print(data_merge2)
    data_merge3 = data_merge2.index
    #print(data_merge3)
    #print('---------------------'*10)
    data_merge4 = data_merge3.tolist()
    customer_recommend[cid] = data_merge4

customer_recommend

{2503: ['Sole - Dover, Whole, Fresh',
  'Tea - Herbal Sweet Dreams',
  'Whmis - Spray Bottle Trigger',
  'Soup - Campbells Bean Medley',
  'Veal - Inside, Choice'],
 264: ['Pepper - Black, Whole',
  'Veal - Inside, Choice',
  'Fondant - Icing',
  'Lamb - Ground',
  'Corn Meal'],
 3317: ['Bar - Granola Trail Mix Fruit Nut',
  'Beef Wellington',
  'Sardines',
  'Knife Plastic - White',
  'Fish - Scallops, Cold Smoked'],
 3305: ['Soup - Campbells Bean Medley',
  'Sherry - Dry',
  'Ketchup - Tomato',
  'Wine - Magnotta, Merlot Sr Vqa',
  'Bandage - Fexible 1x3'],
 1072: ['Butter - Unsalted',
  'Chicken - Soup Base',
  'Ketchup - Tomato',
  'Bar - Granola Trail Mix Fruit Nut',
  'Chinese Foods - Chicken'],
 3535: ['Muffin - Carrot Individual Wrap',
  'Soup Knorr Chili With Beans',
  'Ecolab - Solid Fusion',
  'Wine - Chardonnay South',
  'Cup - 6oz, Foam']}

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [23]:
new = pd.DataFrame.from_dict(customer_recommend)
new

,2503,264,3317,3305,1072,3535
0,"Sole - Dover, Whole, Fresh","Pepper - Black, Whole",Bar - Granola Trail Mix Fruit Nut,Soup - Campbells Bean Medley,Butter - Unsalted,Muffin - Carrot Individual Wrap
1,Tea - Herbal Sweet Dreams,"Veal - Inside, Choice",Beef Wellington,Sherry - Dry,Chicken - Soup Base,Soup Knorr Chili With Beans
2,Whmis - Spray Bottle Trigger,Fondant - Icing,Sardines,Ketchup - Tomato,Ketchup - Tomato,Ecolab - Solid Fusion
3,Soup - Campbells Bean Medley,Lamb - Ground,Knife Plastic - White,"Wine - Magnotta, Merlot Sr Vqa",Bar - Granola Trail Mix Fruit Nut,Wine - Chardonnay South
4,"Veal - Inside, Choice",Corn Meal,"Fish - Scallops, Cold Smoked",Bandage - Fexible 1x3,Chinese Foods - Chicken,"Cup - 6oz, Foam"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [26]:
pivot2= pivot.transpose()
pdist(pivot2, metric='jaccard')
squareform(pdist(pivot2, metric='jaccard'))
(1 + squareform(pdist(pivot2, metric='jaccard')))
dist_eucl = 1 / (1 + squareform(pdist(pivot2, metric='jaccard')))
dist_eucl
distances = pd.DataFrame(dist_eucl, index=pivot2.index, 
                         columns=pivot2.index)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.514644,0.529703,0.524038,0.513043,0.516129,0.510549,0.509174,0.511211,0.513889,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
200,0.514644,1.000000,0.518828,0.514523,0.503704,0.512000,0.520325,0.510204,0.518828,0.519313,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
264,0.529703,0.518828,1.000000,0.515695,0.527027,0.515419,0.510460,0.508772,0.515419,0.511013,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
356,0.524038,0.514523,0.515695,1.000000,0.517094,0.510917,0.508403,0.521531,0.510823,0.513393,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
412,0.513043,0.503704,0.527027,0.517094,1.000000,0.512605,0.516529,0.520362,0.510373,0.515284,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.518987,0.525581,0.515021,0.521951,0.520362,1.000000,0.524887,0.525346,0.511628,0.504000
98069,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.516129,0.512821,0.514644,0.511013,0.526549,0.524887,1.000000,0.527027,0.517510,0.523404
98159,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.512500,0.525822,0.520000,0.513889,0.515152,0.525346,0.527027,1.000000,0.524793,0.512605
98185,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.511029,0.505618,0.520000,0.519149,0.515385,0.511628,0.517510,0.524793,1.000000,0.526316
98200,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.514056,0.512712,0.517241,0.511111,0.521368,0.504000,0.523404,0.512605,0.526316,1.000000